<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="exampleBean" class="cn.home.modules.beans.entity.ExampleBean">
		<property name="years" value="2017" />
		<property name="ultimateAnswer" value="masterkaoli" />
	</bean>
</beans>